{% extends 'ipad/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="order-form-controls row">
  <div class="col-sm-6">
    <select id="id-customer" name="customer">
    {% for customer in customers %}
      <option value="{{ customer.pk }}" data-outstanding="{{ customer.outstanding_total }}">{{ customer }}</option>
    {% endfor %}
    </select>
  </div>
  
  <div class="col-sm-6">
    <p class="outstanding-wrapper">ยอดค้างชำระ: <span class="outstanding"></span></p>
  </div>
</div>

<table class="order-form table table-bordered">
  <thead>
    <tr>
      <th class="quantity">จำนวน</th>
      <th class="name">รายการ</th>
      <th class="unit">หน่วย</th>
      <th class="price">ราคา</th>
      <th class="total">รวม</th>
    </tr>
  </thead>
  
  <tbody>
    <tr><td colspan="5" style="padding:0;"></td></tr>
  </tbody>
  
  <tfoot>
    <tr><td colspan="5" style="padding:10px 0 0;"><button id="add-product-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td></tr>

    <tr>
      <td colspan="3">
        <label>หมายเหตุ</label>
        <textarea id="id-note" class="form-control"></textarea>
      </td>
      <td>รวม<br/><br/>ชิ้น</td>
      <td class="summary"></td>
    </tr>
  </tfoot>
</table>

<div class="submit-wrapper"><button id="order-submit-btn" type="submit" class="btn btn-default">ชำระเงิน</button></div>

{% include 'ipad/include/order-dialog.html' %}

<div class="hide">
  <div class="quantity-dialog">
    <label>จำนวน</label>
    <input type="number" name="quantity" class="form-control">
  </div>

  <div class="unit-dialog">
    <label>หน่วย</label>
    <input type="number" name="unit" class="form-control">
  </div>

  <div class="price-dialog">
    <label>ราคา</label>
    <input type="number" name="price" class="form-control">
  </div>

  <div class="payment-dialog">
    <p class="outstanding-wrapper">ยอดค้างชำระ: <span class="outstanding"></span></p>
    <p>รวม: <span class="summary"></span></p>
    <p>ชิ้น: <span class="quantity"></span></p>
    <label>รับชำระจำนวน</label>
    <input type="number" name="payment" class="form-control">
  </div>
</div>
{% endblock content %}

{% block script %}
  <script src="{% static 'ipad/js/order.js' %}"></script>
  <script src="{% static 'ipad/js/order-create.js' %}"></script>
{% endblock script %}